<h2>List of users</h2>
<div class="col-xs-12">
  <button class="btn btn-primary" (click)="onFetch()">Refresh</button>
  <ul class="list-group">
    <app-user *ngFor="let user of users"
              [userFirstName]="user.firstName"
              [userLastName]="user.lastName"
              [userEmail]="user.email"
              [id]="user.id"
    ></app-user>
  </ul>
  <button class="btn btn-success" *ngIf="toggle === false" (click)="onToggle()">Add New User</button>
  <button class="btn btn-danger" *ngIf="toggle === true" (click)="onToggle()">Close</button>
  <app-create-user *ngIf="toggle === true"></app-create-user>
</div>

